@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* @font-face {
    font-family: 'HakgyoansimAllimjangTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimAllimjangTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} */


body {
    font-family: 'Pretendard-Regular';
}


header  {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    justify-content: space-between;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8E8E8E;
}


header > nav > .header_navigation {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

header > nav > .etc_menu {
    display: flex;
    gap: 20px;
}

header > nav > .etc_menu > .right_menu {
    color: #caa95b;
}


h1 {
    font-size: 22px;
    font-weight: bold;
    align-items: center;
}

.main {
    padding: 20px 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.main_slider {
    height: 650px;
    margin-bottom: 120px;
}

.main > .main_slider > li > img {
    width: 100%;
    height: 650px;
    border-radius: 30px;
}

.main_text {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 30px;
}

.main_text > h3 {
    color: #C0C0C0;
    line-height: 22px;
}

.title_text {
    font-size: 70px;
    font-weight: 600;
    color: #C0C0C0;
}

.title_text > span {
    color: #41444B;
}

h2 > .title_text {
    font-weight: 800;
}

.about_us {
    width: 100%;
    height: 920px;
    background-color: #F3F3F3;
    margin-bottom: 30px;
}

.about_box {
    width: 1200px;
    margin: 0 auto;
}


.about_us > .about_text > h3 {
    color: #8E8E8E;
    line-height: 22px;
}

.about_us > .about_text {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    margin-bottom: 50px;
    gap: 24px;
}

.about_img {
    display: flex;
    justify-content: center;
    gap: 5px;

}

.project {
    width: 1200px;
    padding-top: 80px;
}

.plus_icon {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: 0.2px solid #222;
    border-radius: 50%;
    position: relative;

}

.plus_icon::before,
.plus_icon::after {
    content: '';
    position: absolute;
    background: black;
}

/* 세로 막대 */
.plus_icon::before {
    left: 50%;
    top: 15%;       
    width: 0.1px;     
    height: 70%; 
    transform: translateX(-50%);
  }
  
  /* 가로 막대 */
  .plus_icon::after {
    top: 50%;
    left: 15%; 
    width: 70%;   
    height: 0.1px;     
    transform: translateY(-50%);
}

.project_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}