@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* @font-face {
    font-family: 'HakgyoansimAllimjangTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimAllimjangTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} */


body {
    font-family: 'Pretendard-Regular';
}


header {
    display: flex;
    align-items: center;
    padding: 20px 50px;
}

.menu_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8E8E8E;
    width: 100%;
}

.menu {
    display: flex;
    margin-left: 100px;
    gap: 30px;
}

.etc_menu {
    display: flex;
    gap: 20px;
}

.right_menu {
    color: #caa95b;
}


h1 {
    font-size: 22px;
    font-weight: bold;
    align-items: center;
}


/* 메인화면 : OUR PROJECT */
.main {
    padding: 20px 50px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_slider {
    height: 650px;
    margin-bottom: 120px;
}

.main>.main_slider>li>img {
    width: 100%;
    height: 650px;
    border-radius: 30px;
}

.main_text {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 30px;
}

.main_text>h3 {
    color: #C0C0C0;
    line-height: 22px;
}

.title_text {
    font-size: 70px;
    font-weight: 600;
    color: #C0C0C0;
}

.title_text>span {
    color: #41444B;
}

h2>.title_text {
    font-weight: 800;
}


/* 회사소개: ABOUT US */
.about_us {
    width: 100%;
    height: 1050px;
    background-color: #f3f3f3;
}

.about_box {
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.about_us>.about_box>.about_text {
    margin-bottom: 50px;
}


.about_us>.about_box>.about_text>h3 {
    color: #41444B;
    line-height: 24px;
    margin-top: 16px;
}

.about_section {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.box {
    position: relative;
    width: 40%;
    height: 645px;
    color: #fff;
    margin: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box:nth-child(1) {
    background: url(../image/about_1.png)no-repeat;
    background-size: cover;
    background-position: 50%;
}
.box:nth-child(2) {
    background: url(../image/about_2.png)no-repeat;
    background-size: cover;
    background-position: 50%;
}
.box:nth-child(3) {
    background: url(../image/about_3.png)no-repeat;
    background-size: cover;
    background-position: 50%;
}

.box:hover {
    flex-shrink: 0;
    transition: 0.6s;
}

/* 포트폴리오: WE DESIGN EVERY PROJECT */
.project {
    width: 1200px;
    padding-top: 230px;
    margin: 0 auto;
}


.plus_icon {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: 0.2px solid #222;
    border-radius: 50%;
    position: relative;

}

.plus_icon::before,
.plus_icon::after {
    content: '';
    position: absolute;
    background: black;
}

/* 세로 막대 */
.plus_icon::before {
    left: 50%;
    top: 15%;
    width: 0.1px;
    height: 70%;
    transform: translateX(-50%);
}

/* 가로 막대 */
.plus_icon::after {
    top: 50%;
    left: 15%;
    width: 70%;
    height: 0.1px;
    transform: translateY(-50%);
}

.project_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_line {
    width: 1200px;
    border: 0.1px solid #41444B;
    margin-bottom: 20px;
    margin-top: 36px;
}

.project>.project_img > ul {
    display: flex;
    margin: 0 auto;
}


/* 진행과정: OUR PROCESS */
.process {
    width: 1200px;
    margin: 0 auto;
    padding-top: 230px;
}

.process_contents {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 80px;
    padding: 50px;
}

.ab_box {
    position: absolute;
    top: 65%;
    width: 100%;
}

.process_01,
.process_02,
.process_03,
.process_04 {
    position: relative;
}

.process_number {
    font-size: 130px;
    font-weight: 900;
    color: #D9D9D9;
    transition: 0.4s;
}

.process_number:hover  {
    color: rgb(77, 175, 221);
    transform: translateY(-21%);
}

 
.use_title {
    font-size: 24px;
    font-weight: 800;
    color: #41444B;
    padding: 30px 0;
    background: #fff;
    border-top: 1px solid #ddd;
}

.use_text {
    color: #41444B;
    font-size: 14px;
    line-height: 22px;
}


/* 거래처: OUR CLIENT */
.client {
    width: 1200px;
    margin: 0 auto;
    padding-top: 230px;
}


/* 회사위치 */
.contact {
    width: 1200px;
    margin: 0 auto;
    padding-top: 230px;
}

.information {
    height: 400px;
    background-color: #F3F3F3;
    border-radius: 20px;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
}

.address_top_box {
    display: flex;
    color: #41444B;
    margin-bottom: 16px;
    font-weight: 400;
}

.address_top_box>img {
    margin-right: 5px;
}

.sub_box>p {
    font-size: 16px;
}

.contact_title {
    font-size: 22px;
}

.contact_container {
    display: flex;
    justify-content: space-between;
}

.address,
.email,
.tel,
.fax>p {
    letter-spacing: 0.5px;

}

/* contact : 오른쪽  */
.subway_line {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 26px;
}

.traffic,
.subway_info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.subway_info > h3 {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #41444B;
    letter-spacing: 0.5px;
}

.traffic > h3 {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #41444B;
    letter-spacing: 0.5px;
}

.traffic > p {
    margin-left: 20px;
}

.subway_guide > p {
    display: flex;
    align-items: center;
    line-height: 30px;
}

.subway_info > img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.traffic > img {
    width: 20px;
    height: 24px;
    margin-right: 8px;
}

/* 푸터 */
footer {
    width: 100%;
    height: 360px;
    background-color: #F3EEE2;
    display: flex;
    margin-top: 150px;
}

.footer_box {
    width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_box > h1 {
    display: flex;
    align-items: center;
    font-size: 30px;
    letter-spacing: 0.5px;
}

.company_name {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.footer_line {
    display: flex;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 100;
    margin-bottom: 10px;
}

.footer_copyright {
    font-size: 14px;
    color: #A4A4A4;
    margin-top: 40px;
    font-weight: 100;
}